[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
!Assets/**/*.cs
!Assets/**/*.meta
!Packages/manifest.json
!ProjectSettings/**
.vs/
.vscode/
.idea/
.gradle/
.vsconfig
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
.DS_Store
Thumbs.db
*.apk
*.aab
*.unitypackage
*.log
*.htm
*.psd
*.fbx
*.wav
*.mp4